<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        autoReload="true"
        throwConfigExceptions="true"
	    internalLogFile="c:\temp\nlog-internal.log" internalLogLevel="Trace">

    <targets>
    <target xsi:type="File" name="fileTarget" fileName="${specialfolder:folder=LocalApplicationData}/widget_${date:format=yyyy-MM-dd_HH}.log"
			maxArchiveDays="3" archiveEvery="Day"
            layout="${longdate} ${level:uppercase=true:padding=-5:fixedLength=true} ${logger:shortName=true:padding=-20:fixedLength=true} ${message} ${exception}" />
    </targets>

    <rules>
    <logger name="*" minlevel="Info" writeTo="fileTarget" />
    </rules>
</nlog>